<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			新建家庭成员
		</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="${ctxPath}/static/ui/layui/css/layui.css" rel="stylesheet">
	</head>
	<body>
		<form class="layui-form" style="padding:15px" action="">
		    <input type="hidden" name="memberId" value="${mhModel.memberId}"/>
		    <input type="hidden" name="id" value="${mhModel.id}"/>
			<div class="layui-form-item">
				<label class="layui-form-label">
					家庭成员
				</label>
				<div class="layui-input-block">
					<input type="text" name="members" required lay-verify="required" placeholder="请输入家庭成员"
					autocomplete="off" class="layui-input" value="${mhModel.members}" style="width:270px">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					联系方式
				</label>
				<div class="layui-input-block">
					<input type="text" name="contact" required lay-verify="required" placeholder="请输入联系方式"
					autocomplete="off" class="layui-input" value="${mhModel.contact}" style="width:270px">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
				    <label class="layui-form-label">家庭关系</label>
				    <div class="layui-input-block" style="width:250px">
				      <select name="familyRelationship" lay-filter="aihao">
				        <option value=""></option>
				      </select>
				    </div>
			    </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="formDemo">
						立即提交
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">
						重置
					</button>
				</div>
			</div>
		</form>
		<script src="${ctxPath}/static/system/olive/all/js/jquery-1.8.3.min.js"></script>
		<script src="${ctxPath}/static/ui/layui/layui.js"></script>
		<script>
		var ship = jQuery('select[name=familyRelationship]');
		var dictShip = '${familyRelationship}';
        if(dictShip!=null){
        	dictShip = jQuery.parseJSON(dictShip);
          	for(var x in dictShip)
          		ship.append("<option value="+dictShip[x].dictKey+">"+dictShip[x].dictValue+"</option>");
          }
	    var nationVal='${mhModel.familyRelationship}'; 
	    ship.val(nationVal);
			layui.use('form',function() {
				var form = layui.form();
				//监听提交
				form.on('submit(formDemo)',function(data) {
						$.post('../../member/home/addMemberHome',data.field,function(data){
							if(data.status == 10000){
								parent.layer.alert(data.data, {title : '操作提示', icon : 1, time:2000, end: function(){
									//window.parent.location.reload();  
									parent.layer.close(2);
								}});
							}else{
								parent.layer.alert(data.data,{title : '操作提示',icon: 2});
							}
						},'json');
						return false;
				}); 
			});
		</script>
	</body>

</html>