<% include("/system/public/header.html",{title:'header'}){} %> 
<% layout("/system/public/aside.html",{title:'header'}){} %>

<link rel="stylesheet" href="${ctxPath}/static/zTreev3/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<link rel="stylesheet" href="${ctxPath}/static/web/system/orgain/css/list-css.css" type="text/css" />
<!-- BEGIN WRAPPER  -->
<section id="main-content">
	<!-- BEGIN WRAPPER  -->
	<section class=" wrapper">
		<!-- BEGIN ROW  -->
		<div class="row">

			<!-- 第一模块 -->
			<div class="col-md-2 olmd">
				<section class="panel olmds">
					<header class="panel-heading">
						选择企业工会 <span class="text-muted"></span>
					</header>
					<div class="panel-body">
						<!-- BEGIN ROW  -->
						<div class="row">
							<div class="col-md-12">
								<div id="treeCode"  class='ztree treeWidth' >
									<ul id="treeCodes"></ul>
								</div>
							</div>
						</div>
						<!-- END ROW  -->
					</div>
				</section>
			</div>

			<!-- 第二模块 -->
			<div class="col-md-10 olmd">
				<!-- BEGIN ROW  -->
				<div class="row">
					<div class="col-md-12">
						<section class="panel olmds">
			                  <header class="panel-heading">
			                     <span class="label label-primary">会员管理</span>
			                     <span name="selectOrg" class="label label-primary">已选中的工会：</span>
			                  </header>
			                  <div class="panel-body">
			                     <div class="adv-table editable-table ">
			                        <div class="clearfix">
			                           <div class="btn-group">
			                              <a href="javascript:;" name="export-data" class="btn btn-success green">
			                                                                                     导出表格 <i class="fa fa-plus"></i>
			                              </a>
			                           </div>
			                        </div>
			                        <div class="clearfix">
			                           <div class="panel-body">
			                           <form class="form-inline" role="form" name="searchForm">
			                              <input type="hidden" name="orgId" />
			                              <div class="form-group">
			                                 <input type="text" class="form-control" style="width:300px" name="keyword" placeholder="请输入会员号、姓名、身份证号、联系电话">
			                              </div>
			                              <div class="form-group">
			                                 <select class="form-control " name="sex">
						                         <option value="0">全部性别</option>
			 			                     </select>
			                              </div>
			                              <div class="form-group">
			                                 <select class="form-control " name="status">
						                         <option value="0">全部会员状态</option>
			 			                     </select>
			                              </div>
			                              <div class="form-group">
			                                 <select class="form-control " name="degree">
						                         <option value="0">全部学历</option>
			 			                     </select>
			                              </div> 
			                              <div class="form-group">
			                                 <select class="form-control " name="auditStatus">
						                         <option value="0">全部审核状态</option>
			 			                     </select>
			                              </div> 
			                              <div class="form-group">
			                                 <select class="form-control " name="userResource">
						                         <option value="0">全部用户来源</option>
			 			                     </select>
			                              </div>
			                              <div class="form-group">
			                                 <select class="form-control " name="political">
						                         <option value="0">全部政治面貌</option>
			 			                     </select>
			                              </div> 
			                              <button type="submit" name="search" class="btn btn-success">检索</button>
			                              <button type="submit" name="reset" class="btn btn-success">重置检索</button>
			                           </form>
			                        </div>
			                        </div>
			                        <div class="space15"></div>
			                        <table class="table table-striped table-hover table-bordered" id="member-list">
			                           <thead>
			                              <tr>
			                                 <th width="5%" class="center"><input
													type="checkbox"  class="checkall"/> </th>
			                                 <th width="10%" class="hidden-phone">会员号</th>
			                                 <th width="10%" class="hidden-phone">姓名</th>
			                                 <th width="12%" class="hidden-phone">身份证号</th>
			                                 <th width="10%" class="hidden-phone">联系电话</th>
			                                 <th width="13%" class="hidden-phone">工会名称</th>
			                                 <th width="10%" class="hidden-phone">审核状态</th>
			                                 <th width="10%" class="hidden-phone">添加时间</th>
			                                 <th width="10%" class="hidden-phone">来源</th>
			                                 <th width="10%" class="hidden-phone">操作</th>
			                              </tr>
			                           </thead>
			                           <tbody>
			                           </tbody>
			                        </table>
			                     </div>
			                  </div>
						</section>
					</div>
				</div>
				<!-- END ROW  -->
			</div>
		</div>
		<!-- END ROW  -->
	</section>
	<!-- END WRAPPER  -->
</section>


<!-- END MAIN CONTENT -->
<script src="${ctxPath}/static/zTreev3/js/jquery.ztree.core-3.5.js"></script>
<script src="${ctxPath}/static/web/system/orgain/js/treeCreate.js"></script>
<script src="${ctxPath}/static/system/olive/all/assets/data-tables/jquery.dataTables.js"></script><!-- DATATABLE JS  -->
<script src="${ctxPath}/static/system/olive/all/assets/data-tables/DT_bootstrap.js"></script><!-- DATATABLE JS  --> 
<script src="${ctxPath}/static/web/member/mem/js/org_mem_table.js"></script>
<script type="text/javascript">
   jQuery(document).ready(function() {
	  var nodeTree2 = ${resultStr};	
	  nodeTree2 = eval(nodeTree2);
	  treeCreate(nodeTree2,"treeCodes","put",true,false);
   	  
         var sex = jQuery('select[name=sex]');
         var status = jQuery('select[name=status]');
         var degree = jQuery('select[name=degree]');
         var auditStatus = jQuery('select[name=auditStatus]');
         var userResource = jQuery('select[name=userResource]');
         var political = jQuery('select[name=political]');
         var dictSex = '${dictSex}',dictMemStatus='${dictMemStatus}',dictEducation='${dictEducation}',
         dictAuditStatus='${dictAuditStatus}',dictUserResource='${dictUserResource}',dictPolitical='${dictPolitical}';
         if(dictSex!=null){
       	  dictSex = jQuery.parseJSON(dictSex);
         	for(var x in dictSex)
         	   sex.append("<option value='"+dictSex[x].dictKey+"'>"+dictSex[x].dictValue+"</option>"); 
         }
         if(dictMemStatus!=null){
       	  dictMemStatus = jQuery.parseJSON(dictMemStatus);
         	for(var x in dictMemStatus)
         	   status.append("<option value='"+dictMemStatus[x].dictKey+"'>"+dictMemStatus[x].dictValue+"</option>"); 
         }
         if(dictEducation!=null){
       	  dictEducation = jQuery.parseJSON(dictEducation);
         	for(var x in dictEducation)
         		degree.append("<option value='"+dictEducation[x].dictKey+"'>"+dictEducation[x].dictValue+"</option>"); 
         }
         if(dictAuditStatus!=null){
       	  dictAuditStatus = jQuery.parseJSON(dictAuditStatus);
         	for(var x in dictAuditStatus)
         		auditStatus.append("<option value='"+dictAuditStatus[x].dictKey+"'>"+dictAuditStatus[x].dictValue+"</option>"); 
         }
         if(dictUserResource!=null){
       	  dictUserResource = jQuery.parseJSON(dictUserResource);
         	for(var x in dictUserResource)
         		userResource.append("<option value='"+dictUserResource[x].dictKey+"'>"+dictUserResource[x].dictValue+"</option>"); 
         }
         if(dictPolitical!=null){
       	  dictPolitical = jQuery.parseJSON(dictPolitical);
         	for(var x in dictPolitical)
         		political.append("<option value='"+dictPolitical[x].dictKey+"'>"+dictPolitical[x].dictValue+"</option>"); 
         }
         
	    orgMemberTable.init();//初始化表格
		$('input[class=checkall]').click(function() {
			if ($(this).is(':checked')) {
				$('input[class=checkchild]').attr("checked", "true");
			} else {
				$('input[class=checkchild]').attr("checked", null);
			}
		});
	    
	    //导出excel
	    jQuery('a[name=export-data]').on('click',function(e){
	    	e.preventDefault();
	    	jQuery('input[name=orgId]').val(orgIdList);
	    	var form = jQuery('form[name=searchForm]');
	    	 form.attr("action", '../member/exportOrg');
	    	    //触发submit事件，提交表单   
	    	 form.submit();  
	    });
   });
</script>

<% layout("/system/public/footer.html",{title:'header'}){} %>
